.contact-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3.125rem;
    width: 28.125rem;
}

.contact-us-title {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid #dddddd;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: transparent;
}

.contact-form-label {
    font-size: 0.875rem;
    padding-bottom: 1.12rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888888;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    opacity: 1;
}

.contact-form-button {
    background-color: var(--primary-blue);
    border: none;
    color: white;
    width: 8.75rem;
    height: 2.75rem;
    border-radius: 0.625rem;
    margin-left: 13.125rem;
}

@media (max-width: 1400px) {
    .contact-form {
        width: 80vw;
    }
}