.team-card {
    width: 235px;
    background-color: white;
    border-radius: 0 0 0.625rem .625rem;
}

.team-member-description {
    height: 2.5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-image {
    width: 235px;
    height: 288px;
}

.team-member {
    padding-left: 1.25rem;
}

.member-name {
    font-size: 1.25rem;
}

.member-post {
    font-size: 1rem;
    padding-left: 1.25rem;
}

.team-social-link {
    padding-right: 0.625rem;
}


@media (max-width: 1400px) {
    .team-card {
        /*margin-right: 0.8rem;*/
    }
}

/* Styles for phones */
@media (max-width: 750px) {
    .team-card {
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .team-image {
        height: auto;
    }
}