.team-card {
    margin-right: 6.25rem;
}

.team-member-description {
    height: 4.375rem;
    background-color: white;
    padding-top: 1rem;
    border-radius: 0 0 0.625rem .625rem;
}

.team-image {
    height: 18rem;
}

.team-member {
    padding-left: 1.25rem;
}

.member-name {
    font-size: 1.25rem;
}

.member-post {
    font-size: 1rem;
}

.team-social-link {
    padding-right: 0.625rem;
}