.section-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title-text {

    padding-left: 2.5rem;
    font-size: 1.625rem;
}