.section-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.section-title-text {
    /*padding-top: 1rem;*/
    padding-left: 2.5rem;
    font-size: 1.625rem;
}