.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-image {
    width: 350px;
    height: 350px;
}

.about-us-text {
    width: 650px;
}

.about-us-title-h3 {
    font-size: 2rem;
    margin-bottom: 1.875rem;
}

.about-us-subtitle {
    font-size: 1rem;
    color: var(--dark-gray);
    margin-bottom: 1.875rem;
}

.about-us-button {
    background-color: rgba(46, 115, 255, 0.05);
    color: black;
    border-color: var(--primary-blue);
    margin-right: 1.25rem;
    width: 13.125rem;
    height: 3rem;
    font-size: 1rem;

}

.about-us-button:hover {
    background-color: var(--primary-blue);

}

.learn-button {
    width: 12.5rem;
    height: 3rem;
    color: var(--primary-white);
    font-size: 1rem;
    background-color: var(--primary-blue);
    padding: 10px 20px;
    border: none;
    box-shadow: 0 12px 30px rgba(24, 92, 255, 0.18);
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

/* Styles for phones */
@media (max-width: 750px) {
    .about-us {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80vw;
        margin-left: 10vw;
    }

    .about-image {
        width: 80vw;
    }

    .about-us-text {
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    .about-us-title-h3 {
        font-size: 2rem;
        width: 80vw;
        margin-bottom: 1.3rem;
    }

    .about-us-subtitle {
        width: 80vw;
        font-size: 15px;
    }

}