.nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--nav-top-spacing) var(--nav-web-spacing) 0 var(--nav-web-spacing);
    z-index: 1000;
    color: var(--primary-blue-logo);
}

.nav-logo {
    margin-right: 100px;
}

.nav-body {
    justify-content: space-between;
    display: flex;

}

.lang {
    height: 35px;
}

.lang-icon {
    margin-top: 8px;
}

.nav-lang {
    width: 110px;
    background-color: rgba(51, 51, 51, 0);
    border: none;
}