.nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--nav-top-spacing) var(--nav-web-spacing) 0 var(--nav-web-spacing);
    z-index: 1000;
}

.nav a, .nav .dropbtn {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.links {
    display: flex;
    flex-direction: row;
}


.mobile-link {
    color: #cf2929;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: -3px;
}

.dropbtn {
    z-index: 20;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    left: 0;
    top: 100%;
}

.dropdown-content .dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .dropdown-item:hover {
    background-color: #ddd;
}

.dropbtn:hover nav-link:hover {
    color: #cf2929;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: rgba(58, 66, 47, 0.18);
}

.spacing {
    margin-right: 100px;
}

.lang-icon {
    margin-top: 8px;
}

.nav-lang {
    width: 110px;
    background-color: rgba(51, 51, 51, 0);
    /*color: #fafafa;*/
    border: none;
}

.mobile-links {
    display: none;
}

@media (max-width: 1400px) {
    .nav {
        padding: var(--side-mobile-spacing) var(--side-mobile-spacing);
    }
}

/* Styles for phones */
@media (max-width: 750px) {
    .nav {
        padding: var(--side-mobile-spacing) var(--side-mobile-spacing);
    }

    .links {
        display: none;
    }

    .mobile-links {
        display: block;
    }

    .div {
        width: 95%;
        padding: 10px;
        font-size: 12px;
        background-color: lightcoral;
    }
}