.footer {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.footer-image {
    margin-bottom: 5.75rem;
}

.footer-top {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.footer-text {
    display: flex;
    width: 25vw;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top-right {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 12vw;
    padding-bottom: 1rem;

}

.footer-section-link {
    margin-bottom: 5px;
    font-size: 0.875rem;
    color: #666;
    text-decoration: none;
}

.footer-contact-number {
    font-size: 0.875rem;
}

.footer-contact-link{
    text-decoration: none;
    color: black;
}

.footer-section-title {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

.footer-social-link {
    margin-right: 1.25rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

@media (max-width: 1440px) {
    .footer-text {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .footer-top-right {
        width: 20vw;
        padding-bottom: 20px;
    }

}

/* Styles for phones */
@media (max-width: 750px) {
    .footer-text {
        flex-direction: column;
        padding-bottom: 1rem;
        width: 40vw;

    }

    .footer-top-right {
        /*width: 50vw;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    .footer-section-title {
        width: 15vw;
        margin-right: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        border-top: 1px solid #ddd;
    }
}