.carousel {
    height: 100vh;
    width: 100%;
}

.carousel-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.custom-caption {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
    text-align: left;
    padding: 5.625rem;
    color: var(--lavender-blush);
}

.carousel-title {
    font-size: 4rem;
    padding-bottom: 7.5rem;
}

.carousel-description {
    font-size: 1.5rem;
}

.swiper {
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}


@keyframes slide-up {
    100% {
        transform: translateX(-100%);
    }
}