.team {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    width:80vw;
    justify-content: space-between;
}

.team-member {
    /*margin-right: 20px;*/
}

.team-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-left: 60.3125rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.team-title-text {
    padding-top: 1rem;
    padding-left: 2.5rem;
    font-size: 1.625rem;
}

.team-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;
}

.team-illustration {
    width: 40rem;
}

@media (max-width: 1400px) {
    .team-images {
        justify-content: center;
        align-items: center;
    }

    .team {
        flex-direction: column;
    }
}

/* Styles for phones */
@media (max-width: 750px) {
    .team {
        flex-direction: column;
    }

    .team-images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }


}