.team-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    justify-content: center;
    margin-left: 15vw;
    overflow: hidden;
}

.team-card {
    margin-bottom: 20px;
}

.team-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-left: 60.3125rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.team-title-text {
    padding-top: 1rem;
    padding-left: 2.5rem;
    font-size: 1.625rem;
}

.team-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;
}

.team-illustration {
    width: 40rem;
}

